page-contact {
}
.create_votegroup_header{
  text-align: center;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #c4c4c4;
}
.votegroup_add_card{
  border-radius: 10px;
  margin-top: 10vh;
  text-align: center;
  padding: 5px;
}
